<div>
  <%= image_tag @user.image if @user.image.attached? %>
</div>

<h2>
  <%= @user.name.capitalize %>
</h2>

<%= link_to "All Groups", groups_path %>

<%= link_to "All transactions for now. remove later", entities_path%>