@import "bootstrap-sprockets";
@import "bootstrap";

$primary-color: #3778c2;
$white-color: #fff;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.page-headerr {
  color: $white-color;
  background-color: $primary-color;
  text-align: center;
  padding: 2rem 0;
}

.container-fluid {
  padding: 0;
}

section {
  h2 {
    margin: 0;
  }
}
