// Place all the styles related to the Entities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.all_my_transactions {
  a {
    margin-top: 1rem;
  }
}

.amount-text {
  color: grey;
}

.amount-total {
  font-weight: bold;
}

.transaction-total {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;

  span {
    font-size: 2rem;
    padding: 0.3rem;
    margin: 0.2rem 0;
  }
}
