// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$primary-color: #3778c2;
$secondary-color: #5fb523;

.group-box {
  background-color: rgb(239, 243, 240);
}

.group-item {
  display: grid;
  grid-template-columns: 2fr 1.5fr 1.5fr;
  background-color: #fff;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  padding: 2rem 0;

  img {
    margin: 0.2rem 0;
  }

  a {
    display: inline-block;
    padding: 0.5rem;
    font-size: 2rem;
  }

  p {
    padding: 0.1rem;
    margin: 0.6rem 0;
  }
}

.bottom-btn {
  width: 100%;
  background-color: $secondary-color;
  padding: 1rem 0;
  position: fixed;
  bottom: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    color: #fff;
    text-align: center;
    display: inline-block;
    border: 1px solid #fff;
    padding: 1.5rem 6rem;
  }
}

.form-name,
.form-image {
  margin: 1rem 0;
  padding: 1rem 0;
}

.group-transaction-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #fff;
  margin-bottom: 1rem;
  padding: 2rem 0;

  img {
    margin: 0.2rem 0;
  }
}
